# URL do banco de dados PostgreSQL (ajuste com suas credenciais)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/seu_banco?schema=public"

# URL do backend
BACKEND_URL= http://localhost

# Porta do servidor backend
PORT = 3000